{% assign current_lang = page.lang | default: 'en' %}
{% assign ui = site.data.ui-text[current_lang] %}

{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if site.words_per_minute %}
  {% if words < 180 %}
	  {{ ui.less_than | default: "less than" }} 1 {{ ui.minute_read | default: "minute read" }}
	{% elsif words < 360 %}
	  1 {{ ui.minute_read | default: "minute read" }}
	{% else %}
	  {{ words | divided_by:site.words_per_minute }} {{ ui.minute_read | default: "minute read" }}
	{% endif %}
{% else %}
  {{ ui.undefined_wpm | default: "Undefined parameter words_per_minute at _config.yml" }}
{% endif %}
